<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
</head>
<body>
    <div>
        <img src="404.gif" width="404" />
        <span>
            Sorry, that route doesn't exist :/
        </span>
    </div>
    <% if (authDenied == true) {%>
        <a href="<%- authUrl%>">
            <strong>Click To Retry Access</strong>
        </a>
    <% }%>
</body>
</html>