<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickers</title>
    <style>
        .app-title {
            text-align: center;
            font-weight: normal;
            font-size: 2.6rem;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1 class="app-title">Welcome to Zendesk Tickers</h1>
    <a id="pageAnchor" href="home/tickets">
        <img src="https://media.giphy.com/media/ka6loLNrqm0ao7LLbl/giphy.gif" alt="this slowpoke moves" width="500" />
    </a>
    <div></div>
    <script></script>
</body>
</html>
