<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticks</title>
    <link type="text/css" href="../public/css/main.css">
</head>
<body>
    <h1>Hello World..</h1>
    <div id="debug"></div>
    <script>
        seeTickets()
        console.log('Yay you! On to the another view.')
        
        async function seeTickets() {
            const response = await fetch('../ticket_request.json')
            const data = await response.json()
            document.querySelector("debug").innerText = data.next_page
        }
    </script>
</body>
</html>

C:\Users\JOJ_MSFT\Documents\GitHub\zendesk-c3\tickets.json