.vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
}

.vertical-menu a {
background-color: #eee;
color: black;
display: block;
padding: 12px;
text-decoration: none;
}

.vertical-menu a:hover {
background-color: rgb(223, 219, 219);
}

.vertical-menu a.active {
background-color: #04AA6D;
color: white;
}

